* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus {outline:0;}

a:hover{
  color: #4D00C7;
}

a {
  color: black;
  text-decoration: none;
  /* vertical-align: top; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.component {
  padding: 3% 3%;
  /* margin: 1.6% */
  /* background-color: blue; */
}

.header {
  margin-left: 1.6%;
}

.threeColGrid {
  display: grid;
  grid-gap: 2%;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: 1fr 2fr 1fr;
  padding: 1% 0 1% 2%;
  background-color: #E8E8E7;
  border: 1px solid grey;
  border-top: none;

}

.gridRow:hover {
  background-color: rgba(232, 232, 231, 0.6);
}


.nav-bar {
  display: flex;
  /* background-color: orange; */
  /* position: fixed; */
  width: 100vw;
  height: 8vh;
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.75);

}

.logo {
  height: 90%;
  margin: 0.5% 2% 0.5% 0;
}


.nav-left {
  width: 50%;
  /* background-color: pink; */
  display: inline-block;
  padding-left: 2%;
  height: 100%;


}






/* Code By Webdevtrick ( https://webdevtrick.com ) */
/* with several modications */

.container {
  display: flex;
  min-height: 100%;
}
input[data-function*='swipe'] {
  position: absolute;
  opacity: 0;
}
label[data-function*='swipe'] {
  position: absolute;
  top: 8vh;
  left: 3%;
  z-index: 1;
  display: block;
  /* width: 42px;
  height: 42px; */
  /* font: 42px fontawesome; */
  /* text-align: center; */
  /* color: #333; */
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  transition: transform .3s;
}
label[data-function*='swipe']:hover {
  /* color: #263249; */
  opacity: 0.6;
}
input[data-function*='swipe']:checked ~ label[data-function*='swipe'] {
  transform: translate3d(280px, 0, 0);
}
label[data-function*='swipe']:checked {
  display: block;
}
label:nth-child(2){
  display: none;
}
input[data-function*='swipe']:checked ~ label:nth-child(2){
  display: block;
  transform: translate3d(280px, 0px, 0px);
}
input[data-function*='swipe']:checked ~ label:nth-child(3){
  display: none;
}

input[data-function*='swipe']:checked ~ .sidebar {
  transform: translate3d(0px, 0px, 0px);
}
input[data-function*='swipe']:checked ~ .sidebar .menu li {
  width: 100%;
}
.sidebar {
  transform: translate3d(-280px, 0px, 0px);
  position: absolute;
  width: 280px;
  background: rgba(	10, 10, 10, 0.94);
  color: #eee;
  left: 0;
  height: 100%;
  transition: all .3s;
}
.menu li {
  padding: 3%;
  list-style: none;
  width: 0%;
}
.menu li a {
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  display: block;
  text-decoration: none;
  padding: 3%;
  margin: 0 20px;
  border-radius: 2px;
}

.menu li:hover {
    background-color: rgba(77,0,199, 0.5);
}


/* End code by webdevtrick */





.rocarr-url {
  display: inline-block;
  font-weight: bold;
  height: 100%;
  vertical-align: top;
  padding-top: 4%;
  padding-left: 2%;
  font-size: 1.2em;

}

.nav-right {
  width: 50%;
  display: inline-block;
  text-align: right;

}

.nav-btns{
  height: 100%;
}





.login {
  width: 50%;
  padding: 3% 5%;
  background-color: rgba(198, 195, 193, 0.8);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 5px;
  border: 2px solid #4D00C7;
  width: 60%;
  padding: 4%;

}

.log-in-form {
  width: 90%;
  font-size: 100%;
  margin: 3%;
  background-color: rgba(255, 255, 255, 0.7);
  outline: 0;
  padding: 1.5%;
  border: 0.75px solid #0C2C54;

}

.submit {
  width: 90%;
}

.log-in-background {
  background:linear-gradient(0deg,rgba(255,255,255,0.7),rgba(255,255,255,0.7)),url("/images/dna_background.jpg");
   width: 100%;
   height: 80vh;
   position: relative;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.role {
  margin: 3%;
}

.homepage {
  margin: 4% auto;
}

.threecol {
  width: 30%;
  margin: 1.6%;
  display: inline-block;
  vertical-align: top;
  background-color: #F5F3F1;
  -webkit-box-shadow: 6px 6px 14px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 14px -5px rgba(0,0,0,0.75);
  box-shadow: 6px 6px 14px -5px rgba(0,0,0,0.75);
  border-radius: 2px;
  border-radius: 0 25% 3% 3%;
}

.threecol:hover {
  opacity: 0.8;
}

.threecol img {
  width: 100%;
  border-radius: 0 25% 0 30%;
  /* max-height: 7em; */
}

.threecol-description {
  padding: 2%;
  height: 100%;
}

@media (max-width: 600px) {
  .threecol {
    width: 96%;
  }
}

.smaller-font {
  font-size: 0.7em;
}

.contact-us {
  background-color: #4D00C7;;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 16vh;
  /* flex-wrap: wrap; */
}
.contact-us-left {
  width: 60%;

  padding-left: 10%;
  background-color: #4D00C7;
  color: white;
  margin: auto 0;

}

.contact-us-right {
  margin: auto;
  width: 40%;

  background-color: #4D00C7;

}

.contact-us-right button {
 margin: 3%;

}

.btn {
  text-align: center;
  display: inline-block;
  font-size: 100%;
  font-weight: 800;
  cursor: pointer;
  width: 30%;
  border-radius: 2px;
  padding: 0.5em;
  border: none;
  white-space: nowrap;
}

.btn:hover {
  opacity: 0.8;
}

.small-btn {
  text-align: center;
  display: inline-block;
  font-size: 90%;
  font-weight: 800;
  cursor: pointer;
  border-radius: 3px;
  padding: 0.5em;
  border: 3px solid #4D00C7;
  background-color: none;

  white-space: nowrap;
  margin: 2% 3%;
  transition: all 0.4s ease 0s;
}

.log-in-form:focus {
  border-color: #FF3B00;
}

.small-btn a {
  color: black;
}

.small-btn:hover {
color: white;
background: #4D00C7;
border-color: #4D00C7;
transition: all 0.4s ease 0s;
}

.email {
  background-color: #F5F3F1;
}

.small-btn a:hover {
  color: white;
}


.chat {
 background-color: #DB3C00;
 color: white;
}

.search-input {
  /* text-align: center; */
  display: inline-block;
  font-size: 100%;
  /* font-weight: 800; */
  cursor: pointer;
  width: 30%;
  border-radius: 20px;
  padding: 0.5em;
  border: none;
  border: 1px solid black;
  width: 45%;


}

.search {
  margin-left: 2%;
  background-color: #DB3C00;
  border-radius: 20px;
  color: white;
  width: 10%;
}


.contact-log {
  display: grid;
  grid-gap: 2%;
  grid-template-columns: 1fr 1.5fr 2fr 1fr;
  /* grid-template-columns: repeat(4, 1fr); */
  padding: 1% 0 1% 2%;
  background-color: #E8E8E7;
  border: 1px solid grey;
  border-top: none;
  align-items: center;
  /* background-color: blue; */
}



.contact-log div {
  padding: 5%;
}
.contact-log p {
  margin: 0;
}

.log {
  position: relative;
}

.log h4 {
  display: inline-block;
}

.log button {
  position: absolute;
  right: 0;
  bottom: 15%;
  background-color: #DB3C00;
  color: white;
}

.participant-headers {
   margin-bottom: 1%;
}

.profile {
  background-color: #E8E8E7;
  padding: 1%;
  /* background-color: #009CBF; */
}
.profile p {
  margin: 1% 1%;

}

.add-log {
  background-color: #E8E8E7;
  padding: 1%;
  margin-bottom: 4%;
}



.five-col {
  display: grid;
  grid-gap: 2%;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  /* grid-template-columns: repeat(4, 1fr); */
  padding: 1% 0 1% 2%;
  background-color: #E8E8E7;
  border: 1px solid grey;
  border-top: none;
  align-items: center;
}

.tableHeader {
  background-color: #009CBF;
  color: white;
  border: none;
  font-weight: bold;
}

.two-cols-container {
  display: grid;
  grid-gap: 2%;
  grid-template-columns: 1fr 1fr;
  /* grid-template-columns: repeat(4, 1fr); */
  /* padding: 1% 0 1% 2%; */
}

.two-cols-container label {
  margin: 1%;
}
